name: Swift Tests

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  test:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        swift: ['6.2']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}

      - name: Show Swift version
        run: swift --version

      - name: Resolve dependencies
        run: swift package resolve

      - name: Build
        run: swift build

      - name: Test
        run: swift test
